.flex-container{
  width:300px;
  height:200px;
  background-color:#c4c4c4;   
  border:1px solid black;
}
.flex-item{
  color:white;
  background-color:#ff5252; /* 기본 배경 색상 */
}
.flex-item:nth-child(2n){
  background-color:#bf5e5e;
}